.toggleButton {
	backdrop-filter: blur(10px);
	margin-right: 0.5rem;
	transform: scale(1.01);
	&:active {
		transform: scale(0.67);
		transition-duration: 0.5s;
	}

	&.mobile {
		width: max-content;
		margin-right: 0;
		justify-content: center;
		margin-bottom: 4px;
	}
}
