.wrapper {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	transition: 'padding-top 400ms cubic-bezier(0.215, 0.610, 0.355, 1)';
}

.loader {
	z-index: -1 !important;
	opacity: 0;
	position: absolute;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: AppWorkspace;
	display: none;

	&.isLoading {
		opacity: 1;
		display: flex;
		z-index: 1 !important;
	}
}
