.swipe-helper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: all;
	z-index: 3;
}

.container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s ease;
	padding: 4px 0;
	border: '2px solid #10101077';
	border-top-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: 'white';
	background-blend-mode: 'revert';

	&.isDragging {
		transition: none;
	}
}

.line {
	height: 4px;
	width: 65%;
	transform: skew(30deg);
	background: repeating-linear-gradient(60deg,
			#ffadad,
			#ffc6ff 2px,
			#ffd6a5 4px,
			#caffbf 6px,
			#9bf6ff 8px,
			#a0c4ff 10px,
			#bdb2ff 12px,
			#e09083 14px,
		);
	border-radius: 6px;
}
