.pinButton {
	background: transparent !important;
	color: rgba(10, 10, 10, 0.5);
	border: none;
	cursor: pointer;
	padding: 8px;
	border-radius: 4px;
	transition-duration: 0.25s;

	&:hover {
		color: #007cba;
		background: inherit;
	}

	&.active:hover {
		color: rgba(10, 10, 10, 0.5);
		background: inherit;
	}

	&.active {
		color: #007cba;
		transform: rotate(-45deg);
		background: inherit;
	}
}
